.react-tab-bar{
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size:10px;
  height:5em;
  &-item{
    &[data-layout='inline']{
      position: relative;
      flex:1;
    }

    &[data-layout='float']{
      position: relative;
      top:-2em;
      padding:1em;
    }

    &[data-layout='absolute']{
      position: absolute;
    }


    &-bd{
      position: relative;
      display: inline-block;
      .item-dot,
      .item-badge{
        position: absolute;
        top: -0.8em;
        right: -0.8em;
        height:1.4em;
        min-width:1.4em;
        line-height: 1.4em;
        text-align: center;
        background: #f00;
        border-radius: 100px;
        color: #fff;
        font-size: 1em;
      }

      .item-badge{
        height:1.4em;
        min-width:1.4em;
        line-height: 1.4em;
        z-index:2;
      }

      .item-text{
        display: block;
        font-size:1em;
      }
    }
  }
}
